#home
  section
    // Common for each section
    padding: 10vh 0
    text-align: center
    color: $w
    &#section0
      .grid
        &>div
          display: flex
          align-items: center
          justify-content: center
          //outline: 1px solid green
          .hero-title
            //font-family: "Helvetica Neue LT Pro"
            background: #303030
            font-size: 24px
            font-weight: 400
            line-height: 29px
            letter-spacing: 0em
          img
            margin: 0 auto
          svg
            circle
              stroke: #000
              stroke-width: .5
              fill: none
            path
              fill: none
              stroke: none
              stroke-width: 15
              &#path1
                transform: translate(75px, 75px) rotate(185deg)
              &#path2
                transform: translate(75px, 75px) rotate(-25deg)
            text
              fill: #000
              font-size: 12px
              font-family: "Courier New"
              letter-spacing: 1px
    &#section1
      height: unset
      .carousel
        background: #303030
        .ticker-wrapper
          /* the outer div */
          position: relative
          width: 99.9%
          overflow: hidden
          ul.list 
            position: relative
            display: inline-block
            list-style: none
            padding: 0
            margin: 0
            &.cloned 
              @include pa(0, 0)
            li
              float: left
              padding-left: 5px
      .content
        color: #302C2C
        .subtitle
          font-size: 27px
          font-weight: 400
          line-height: 32px
          letter-spacing: 0em
        p
          font-family: "Courier New"
          font-size: 18px
          font-weight: 400
          line-height: 20px
          letter-spacing: 0em
        ul, form
          font-family: "Courier New"
          font-size: 18px
        .links a
          font-family: "Courier New"
