@import './vars'
@import './include-media'

#home
  section
    padding: 10vh 0
    text-align: center
    color: $w
    &#section0
      height: unset
      padding-bottom: 0
      .grid
        &>div
          display: flex
          align-items: center
          justify-content: center
          //outline: 1px solid green
          .hero-title
            background: #303030
            font-size: 24px
            font-weight: 400
            line-height: 29px
            letter-spacing: 0em
          img
            @extend %fhw
            margin: 0 auto
          &#svg1 a,
          &#svg2 a
            display: block
            border-radius: 50%
            overflow: hidden
          svg.grid-item
            //outline: 1px solid salmon
            transform: rotate(0deg)
            transition: transform 20s
            &:hover
              transform: rotate(360deg)
            circle
              stroke: #000
              stroke-width: .5
              fill: none
            path
              fill: none
              stroke: none
              stroke-width: 15
              &#path1
                transform: translate(75px, 75px) rotate(185deg)
              &#path2
                transform: translate(75px, 75px) rotate(-25deg)
            text
              fill: #000
              font-size: 12px
              font-family: "Courier New"
              letter-spacing: 1px


    &#section1
      height: unset
      padding-bottom: 0
      .carousel
        background: #303030
        .ticker-wrapper
          /* the outer div */
          position: relative
          width: 99.9%
          overflow: hidden
          ul.list 
            position: relative
            display: inline-block
            list-style: none
            padding: 0
            margin: 0
            &.cloned 
              @include pa(0, 0)
            li
              float: left
              padding-left: 5px


    &#section2
      height: unset
      padding: 0
      .content
        color: #302C2C
        p
          font-family: "Courier New"
          font-size: 18px
          font-weight: 400
          line-height: 20px
          letter-spacing: 0em
        ul
          font-family: "Courier New"
          font-size: 18px
